<ul class="list-group">
    <li class="list-group-item">
        <button
            routerLink="/waiting-room"
            routerLinkActive="active" 
            class="btn btn-secondary"
            type="button"
            >Oczekujące
        </button>
    </li>
    <li class="list-group-item">
        <button
            routerLink="/movies"
            routerLinkActive="active"
            class="btn btn-secondary" 
            type="button"
            >Filmy
        </button>
    </li>
    <li class="list-group-item">
        <button
            routerLink="/top"
            routerLinkActive="active"
            class="btn btn-secondary" 
            type="button"
            >Top
        </button>
    </li>
</ul>
