<div class="navi">
    <div class="navi-logo">
        <a routerLink="/">SZŚO!</a>
    </div>
    <div class="navi-menu">
        <ul class="list-group list-group-flush list-group-horizontal">
            <li class="list-group-item">
                <a 
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add"
                    >+ Dodaj
                </a>
            </li>
            <li class="list-group-item">
                <a 
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add/mem"
                    >Oczekujące
                </a>
            </li>
            <li class="list-group-item">
                <a 
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add/mem"
                    >Filmy
                </a>
            </li>
            <li class="list-group-item">
                <a 
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add/mem"
                    >Top
                </a>
            </li>
            <li class="list-group-item ml-5">
                <a
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add/mem"
                    >Logowanie
                </a>
            </li>
            <li class="list-group-item ml-n4">
                <a 
                    class="btn btn-sm btn-outline-secondary"
                    routerLink="add/mem"
                    >Rejestracja
                </a>
            </li>
        </ul>
    </div>
</div>
