@import 'src/_variables.sass'

.wrapper
    height: 100%

.search-container
    display: none
    position: absolute
    z-index: 90
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: $sub-navigation-background-color

.search-container--shown
    display: flex

.search-container-toggler   
    position: relative
    z-index: 100



