<div class="comment">
    <div class="comment-header">
        <div class="comment-header--details">
            <span class="user-img">
                <fa-icon [icon]="_iconUser"></fa-icon>
            </span>
            <span class="user-name">
                {{ comment.author.nick }}
            </span>
            <span class="timestamp">
                {{ _timestamp }}
            </span>
        </div>
        <div class="comment-header--actions">
            <span class="flag">
                <fa-icon [icon]="_iconFlag"></fa-icon>
            </span>
            <span class="btn--replay">
                <button 
                    (click)="toggleResponseInput()"
                    class="btn btn-sm btn-outline-secondary"
                    type="button">
                    <fa-icon [icon]="_iconReply"></fa-icon>
                </button>
            </span>
            <span class="btn--plus">
                <button 
                    (click)="voteUp()" 
                    class="btn btn-sm btn-outline-secondary"
                    type="button"
                    ><fa-icon [icon]="_iconPlus"></fa-icon>
                </button>
            </span>
            <span class="display--plus">
                {{ _voter.upVotesCount | async }}
            </span>
            <span class="btn--minus">
                <button 
                    (click)="voteDown()" 
                    class="btn btn-sm btn-outline-secondary"
                    type="button"
                    ><fa-icon [icon]="_iconMinus"></fa-icon>
                </button>
            </span>
            <span class="display--minus">
                {{ _voter.downVotesCount | async }}
            </span>
        </div>
    </div>
    <div class="comment-body">
        <p class="comment-text">
            {{ comment.text }}
        </p>
        <hr style="border: 1px solid #333; margin: 4px 0 4px -12px;">
        <mem-comment-input
            *ngIf="_showResponseInput"
            [user]="user"
            [parentCommentID]="comment.id"
            (submitComment)="addComment($event)">
        </mem-comment-input>
        <div *ngFor="let response of _responses">
            <mem-comment
                [memID]="memID" 
                [comment]="response"
                [user]="user"
                [childComments]="childComments">
            </mem-comment>
        </div>
    </div>
</div>
