@import 'src/_variables.sass'

.comment
    background-color: $commment-backgrounf-color
    color: white
    border: 1px solid #333
    width: 100%

.comment-header
    width: 100%
    display: flex
    align-items: center

.comment-header span
    display: inline-block
    padding: 4px

.comment-header--details

.comment-header--actions
    margin-left: auto

.comment-body
    padding: 12px 0 12px 24px

.response-box
    