<nav class="navigation-bar" #navigationBar>
    <div class="row no-gutters align-items-center">
        <div class="col-2 col-md-1">
            <logo></logo>
        </div>
        <div class="col-2 col-md-1 d-none d-md-flex">
            <add-mem></add-mem>
        </div>
        <div class="col-2 col-md-1 d-md-none d-flex">
            <button
                #menuContainerToggler
                id="menu-container-toggler"
                class="btn btn-block btn-outline-primary"
                type="button">
                <fa-icon [icon]="_barsIcon"></fa-icon>
            </button>
        </div>
        <!-- SWAP -->
        <div class="col-1 col-md-12" #bottomOnDesktop>
            <div #menuContainer class="menu-container">
                <add-mem class="d-md-none"></add-mem>
                <categories></categories>
                <search-bar></search-bar>
            </div>
        </div>
        <div class="col-7 col-md-4">
            <user-specific></user-specific>
        </div>
        <!-- second row on mobile, first on desktop -->
        <!-- swap with SWAP -->
        <div class="col-12 col-md-6" #bottomOnMobile>
            <buttons-links></buttons-links>
        </div>
    </div>


</nav>
