@import 'src/_variables.sass'

.navigation-bar
    position: fixed
    top: 0
    width: 100vw
    height: $navigation-height--small + $sub-navigation-height--small 
    padding: 0 12px
    background-color: $navigation-background-color
    transition: height .3s
    z-index: 100

.row > div
    display: flex
    align-items: center
    justify-content: center
    height: $navigation-height--small

#menu-container-toggler
    min-width: 44px
    max-width: 62px

.menu-container
    display: none
    position: fixed
    top: $navigation-height--small
    left: 0
    width: 100vw
    height: calc( 100vh - 60px )
    background-color: transparentize($navigation-background-color, .2)

.menu-container buttons-add
    padding-top: 48px

.menu-container buttons-add, .menu-container buttons-category, .menu-container search-bar 
    min-width: 200px
    margin-top: 4px

.menu-container--shown
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    z-index: 110

.row div:nth-child(1)
    order: 1

.row div:nth-child(2)
    order: 2

.row div:nth-child(3)
    order: 3

.row div:nth-child(4)
    overflow: hidden
    transition: height .3s
    order: 4

.row div:nth-child(5)
    order: 5
    justify-self: right

.row div:nth-child(6)
    order: 6
    overflow: hidden
    transition: height .3s

.row div:nth-child(6).bottom-bar--hidden
    height: 0px

.navigation-bar.bottom-bar--hidden
    height: $navigation-height--small

@media ( min-width: $breakpoint-md )
    .navigation-bar
        height: $navigation-height + $sub-navigation-height

    buttons-add
        min-width: 87px

    .menu-container
        display: flex
        position: static
        height: $sub-navigation-height

    .menu-container search-bar
        margin-left: auto

    .menu-container--shown
        flex-direction: row

    .row div:nth-child(1)
        order: 1

    .row div:nth-child(2)
        order: 2

    .row div:nth-child(3)
        order: 3

    .row div:nth-child(4)
        order: 6

    .row div:nth-child(5)
        order: 5

    .row div:nth-child(6)
        order: 4

    .row div:nth-child(4).bottom-bar--hidden
        height: 0px

    .row div:nth-child(6).bottom-bar--hidden
        height: $sub-navigation-height


        
    