<div class="row">
    <div class="col">
        <div class="top" >
            <section class="actions" [hidden]="actionButtonsHidden">
                <button
                    (click)="savePicturesChanges()"
                    class="btn btn-sm btn-outline-info"
                    type="button"
                    >Zapisz
                </button>
                <button
                    (click)="cancelPicturesChanges()"
                    class="btn btn-sm btn-outline-info"
                    type="button"
                    >Anuluj
                </button>
            </section>
            <section class="background-image">
                <div class="image-selector" *ngIf="userIsProfileOwner">
                    <input 
                        (change)="loadBackgroundFile($event)"
                        #backgroundImageInput 
                        type="file"
                        accept="image/*" 
                        name="backgroundImage" 
                        id="background-image">
                    <button
                        (click)="triggerSelectDialog(backgroundImageInput)"
                        class="btn"
                        type="button">
                        <fa-icon [icon]="cameraIcon"></fa-icon>
                    </button>
                </div>
            </section>
            <section class="profile">
                <div class="profile-info">
                    <div class="profile-image" id="test">
                        <div class="image-selector" *ngIf="userIsProfileOwner">
                            <input 
                                (change)="loadProfileFile($event)"
                                #profileImageInput 
                                type="file"
                                accept="image/*" 
                                name="profileImage" 
                                id="profile-image">
                            <button
                                (click)="triggerSelectDialog(profileImageInput)"
                                class="btn"
                                type="button">
                                <fa-icon [icon]="cameraIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="profile-text">
                        <div class="nick">
                            {{ user ? user.nick : null }}
                        </div>
                        <div class="visits">
                            0 wyświetleń
                        </div>
                    </div>
                    <div *ngIf="authUser && !userIsProfileOwner" class="profile-actions">
                        <profile-actions 
                            [authUser]="authUser" 
                            [user]="user"
                        ></profile-actions>
                    </div>
                </div>
                <div class="profile-sections" *ngIf="user">
                    <profile-sections [userID]="user.uid"></profile-sections>
                    <span class="points">
                        points
                    </span>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="error-box" *ngIf="imageLoadingFail">
    {{ imageLoadingFail }}
</div>
<div class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
    
