<div class="row">
    <div class="col">
        <div class="top" *ngIf="_user">
            <section class="actions d-none">
                <button
                    (click)="saveChanges()"
                    class="btn btn-sm btn-outline-info"
                    type="button"
                    >Zapisz
                </button>
                <button
                    (click)="cancelChanges()"
                    class="btn btn-sm btn-outline-info"
                    type="button"
                    >Anuluj
                </button>
            </section>
            <section class="background-image">
                <div class="image-selector">
                    <input 
                        (change)="loadFile($event)"
                        #backgroundImageInput 
                        type="file"
                        accept="image/*" 
                        name="backgroundImage" 
                        id="background-image" 
                        style="display: none;">
                    <button
                        (click)="triggerSelectDialog(backgroundImageInput)"
                        class="btn"
                        type="button">
                        <fa-icon [icon]="_cameraIcon"></fa-icon>
                    </button>
                </div>
            </section>
            <section class="profile">
                <div class="profile-info">
                    <div class="profile-image">
                        <div class="image-selector">
                            <input 
                                (change)="loadFile($event)"
                                #profileImageInput 
                                type="file"
                                accept="image/*" 
                                name="profileImage" 
                                id="profile-image" 
                                style="display: none;">
                            <button
                                (click)="triggerSelectDialog(profileImageInput)"
                                class="btn"
                                type="button">
                                <fa-icon [icon]="_cameraIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="profile-text">
                        <div class="nick">
                            {{ _user.nick }}
                        </div>
                        <div class="visits">
                            0 wyświetleń
                        </div>
                    </div>
                </div>
                <div class="profile-links">
                    <ul class="list-group list-group-horizontal list-group-flush d-flex flex-wrap flex-md-nowrap">
                        <li class="list-group-item">
                            <button
                                [routerLink]="['/user', _userID, 'wall']"
                                type="button" 
                                class="btn btn-outline-secondary"
                                >Tablica
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button
                                [routerLink]="['/user', _userID, 'watched-users']"
                                type="button" 
                                class="btn btn-outline-secondary"
                                >Obserwowani
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button
                                [routerLink]="['/user', _userID, 'watched-tags']"
                                type="button" 
                                class="btn btn-outline-secondary"
                                >Tagi
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button
                                [routerLink]="['/user', _userID, 'watched-mems']"
                                type="button" 
                                class="btn btn-outline-secondary"
                                >Memy
                            </button>
                        </li>
                        <!-- <li class="list-group-item">
                            <button
                                [routerLink]="['/user', _userID, 'history']"
                                type="button" 
                                class="btn btn-outline-secondary"
                                >Historia
                            </button>
                        </li> -->
                    </ul>
                    <span class="points">
                        points
                    </span>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="error-box">

</div>
<div class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
    
