<div *ngIf="_authorID && _memID">
    <mem-card [memID]="_memID"></mem-card>

    <mem-comment-input
        [userID]="_userID"
        [userNick]="_userNick"
        (submitComment)="addComment($event)">
    </mem-comment-input>

    <ng-container *ngFor="let comment of _rootComments">
        <mem-comment 
            [memID]="_memID" 
            [comment]="comment"
            [userID]="_userID"
            [userNick]="_userNick"
            [childComments]="_childComments">
        </mem-comment>
    </ng-container>
</div>
