<p>Dodaj swój własny śmieszny obrazek w kilku prostych krokach:</p>
<p>Na początek wybierz rodzaj treści: </p>

<div class="box-holder">
    <div 
        class="box"
        [class.selected]="_itemType == 'image'"
        #addImageBox>
        <div class="box-image">
            <fa-icon [icon]="iconImage"></fa-icon>
        </div>
        <div class="box-title">
            Obrazek
        </div>
    </div>
    <div 
        class="box"
        [class.selected]="_itemType == 'movie'"
        #addMovieBox>
        <div class="box-image">
            <fa-icon [icon]="iconMovie"></fa-icon>
        </div>
        <div class="box-title">
            Film
        </div>
    </div>
    <div 
        class="box"
        [class.selected]="_itemType == 'mem'"
        #addMemBox>
        <div class="box-image">
            <fa-icon [icon]="iconMem"></fa-icon>
        </div>
        <div class="box-title">
            Mem
        </div>
    </div>
</div>

<form 
    #f="ngForm" 
    (ngSubmit)="submit(f)" 
    *ngIf="_itemType != null">
    <!-- display for all ItemType -->
    <div class="form-group form-row">
        <div class="col">
            <input
                ngModel 
                #title="ngModel"
                required
                placeholder="Wpisz tytuł swojego dzieła"
                autocomplete="off"
                id="title" 
                name="title" 
                type="text" 
                class="form-control">
            <div *ngIf="title.touched && title.errors">
                <div *ngIf="title.errors.required" class="text--error">
                    Pole tytuł jest wymagane!
                </div>
            </div>
        </div>
    </div>
    <!-- display for all ItemType -->
    <div class="form-group form-row">
        <div class="col">
            <select 
                ngModel
                #category="ngModel"
                required
                name="category" 
                id="category"
                class="form-control">
                <option 
                    value="" 
                    selected 
                    disabled 
                    hidden
                    >Wybierz categorie
                </option>
                <ng-container *ngFor="let category of _categories">
                    <option [value]="category.name">{{category.name}}</option>
                </ng-container>
            </select>
            <div *ngIf="category.touched && category.errors">
                <div *ngIf="category.errors.required" class="text--error">
                    Pole kategoria jest wymagane!
                </div>
            </div>    
        </div>
    </div>
    <!-- display only for ItemType.movie -->
    <div class="form-group form-row" *ngIf="_itemType == 'movie'">
        <div class="col">
            <select 
                ngModel
                #movieCategory="ngModel"
                required
                name="movie-category" 
                id="movie-category"
                class="form-control">
                <option 
                    value="" 
                    selected 
                    disabled 
                    hidden
                    >Wybierz categorie filmu
                </option>
                <option value="y">Y</option>
                <option value="y">X</option>
            </select>    
            <div *ngIf="movieCategory.touched && movieCategory.errors">
                <div *ngIf="movieCategory.errors.required" class="text--error">
                    Pole kategoria jest wymagane!
                </div>
            </div>  
        </div>
    </div>
    <!-- display only for ItemType.movie -->
    <div class="form-group form-row" *ngIf="_itemType == 'movie'">
        <div class="col">
            <input 
                ngModel
                #movieDescription="ngModel"
                required
                placeholder="Opis filmu"
                autocomplete="off"
                type="text" 
                name="movie-description" 
                id="movie-description" 
                class="form-control">
            <div *ngIf="movieDescription.touched && movieDescription.errors">
                <div *ngIf="movieDescription.errors.required" class="text--error">
                    Pole opis filmu jest wymagane!
                </div>
            </div>  
        </div>
    </div>
    <!-- display only for all ItemType -->
    <div class="form-group form-row">
        <div class="col">
            <ng-container *ngFor="let tag of _tags">
                <span> 
                    {{ tag }} 
                    <fa-icon (click)="deleteTag(tag)" [icon]="iconTimes"></fa-icon> 
                </span>
            </ng-container>
            <input
                (keydown.enter)="addTag(tags)"
                ngModel 
                #tags="ngModel"
                placeholder="Tagi"
                autocomplete="off"
                type="text" 
                name="tags" 
                id="tags" 
                class="form-control">
            <div *ngIf="tags.touched && tags.errors">
                <div *ngIf="tags.errors.required" class="text--error">
                    Pole tagi jest wymagane!
                </div>
            </div>  
        </div>
    </div>
    <!-- display only for ItemType.image or ItemType.movie -->
    <div class="form-group form-row" *ngIf="_itemType == 'image' || _itemType == 'movie'">
        <div class="col">
            <label for="image" id="imageContainer">
                <span>
                    <fa-icon [icon]="iconImage"></fa-icon>
                    Dodaj swoj obrazek
                </span>
                <input 
                    (change)="loadFile($event)"
                    ngModel
                    #image="ngModel"
                    required
                    autocomplete="off"
                    type="file"
                    accept="image/jpeg, image/png, image/gif" 
                    name="image" 
                    id="image" 
                    class="form-control">
            </label>
            <div *ngIf="image.touched && image.errors">
                <div *ngIf="image.errors.required" class="text--error">
                    <fa-icon [icon]="iconImage"></fa-icon>
                    Pole obraz jest wymagane!
                </div>
            </div>  
            <!-- <div class="progress"> -->
                <!-- <div  -->
                    <!-- class="progress-bar bg-success"  -->
                    <!-- role="progressbar"  -->
                    <!-- [style.width]="(_fileUploadProgress$ | async) + '%'" aria-valuenow="(_fileUploadProgress$ | async) + '%'" --> -->
                    <!-- aria-valuemin="0"  -->
                    <!-- aria-valuemax="100"> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <button 
        [disabled]="f.pristine || f.invalid"
        type="submit" 
        class="btn btn-outline-secondary">Add</button>
</form>
