<ng-container *ngIf="!_userLogged">
    <button
        routerLink="/register"
        routerLinkActive="active"
        class="btn btn-sm btn-primary"
        type="button"
        >Rejestracja
    </button>
    <button
        routerLink="/login"
        routerLinkActive="active"
        class="btn btn-sm btn-outline-primary"
        type="button"
        >Logowanie
    </button>
</ng-container>
<ng-container *ngIf="_userLogged">
    <user-notification></user-notification>
    <user-menu></user-menu>
</ng-container>
