<div *ngIf="!_userLogged" class="d-flex">
    <button
        routerLink="/register"
        routerLinkActive="active"
        class="btn btn-sm btn-primary"
        type="button"
        >Rejestracja
    </button>
    <button
        routerLink="/login"
        routerLinkActive="active"
        class="btn btn-sm btn-outline-primary"
        type="button"
        >Logowanie
    </button>
</div>
<div *ngIf="_userLogged" class="d-flex">
    <user-notification></user-notification>
    <user-menu></user-menu>
</div>
