<div>
    <button
        #categoryContainerToggler
        class="btn btn-block btn-outline-primary d-block d-md-none"
        type="button"
        >Kategorie
    </button>
</div>
<div 
    #categoryContainer
    class="d-none d-md-flex">
    <ul class="list-group list-group-flush list-group-horizontal-md">
        <li class="list-group-item">
            <button
                [routerLink]="['/category', categoryName]"
                class="btn btn-block"
                type="button"
                >Humor
            </button>
        </li>
        <li class="list-group-item">
            <button
                class="btn btn-block"
                type="button"
                >Cat 2
            </button>
        </li>
    </ul>
</div>