<div>
    <button
        #categoryContainerToggler
        class="btn btn-block btn-outline-primary d-block d-md-none"
        type="button"
        >Kategorie
    </button>
</div>
<div 
    #categoryContainer
    class="d-none d-md-flex">
    <ul class="list-group list-group-flush list-group-horizontal-md">
        <li class="list-group-item" *ngFor="let category of visibleCategories"> 
            <button
                [routerLink]="['/category', category.name]"
                class="btn btn-block"
                type="button"
                > {{ category.name }}
            </button>
        </li>
    </ul>
</div>