<div class="rom">
    <div class="col">
        <form 
            #f="ngForm" 
            (ngSubmit)="login(f)">
            <div class="form-group form-row">
                <input 
                    ngModel
                    required
                    placeholder="Email"
                    type="text" 
                    name="email" 
                    id="email"
                    class="form-control">
            </div>
            <div class="form-group form-row">
                <input 
                    ngModel
                    required
                    placeholder="Hasło"
                    type="text" 
                    name="password" 
                    id="password"
                    class="form-control">
            </div>
            <button 
                type="submit"
                class="btn btn-primary"
                >Zaloguj się
            </button>
        </form>

        <hr>

        <p>
            Zapomniałeś hasła? 
            <a routerLink="">Przypomnij hasło</a>
        </p>
        <p>
            Nie masz jeszcze konta?
            <a routerLink="">Załóż teraz!</a>
        </p>
    </div>
</div>
