<div class="card" *ngIf="_memData as mem" >
    <div class="card-header">
        <div class="card-text">
            <a [routerLink]="['/user', mem.author.uid]">
                {{ mem.author.nick }}
            </a>
            <fa-icon [icon]="_commentIcon"></fa-icon>
        </div>
    </div>
    <div class="card-body">
        <span 
            class="card-title"
            (click)="openDetailView()">
            {{ mem.title }}
        </span>
        <div class="card-subtitle">
            <span class="subtitle-category">
                <a [routerLink]="['/category', mem.category]">{{ mem.category }}</a>
            </span>
            <span class="subtitle-tag" *ngFor="let tag of mem.tags">
                <a [routerLink]="['/tag', tag]">{{ tag }}</a>
            </span>
        </div>
        <div class="card-img">
            <a (click)="openDetailView()">
                <img src="{{ mem.imageMetadata.URL }}" alt="random image">
            </a>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-4 vote-buttons-container">
                <button
                    (click)="voteUp()"
                    [disabled]="!_user"
                    [class.vote--upvote]="_userVote && _userVote.note == 1"
                    class="btn btn-block btn-secondary"
                    type="button"
                    ><fa-icon [icon]="_plusIcon"></fa-icon>
                </button>
                <button
                    (click)="voteDown()"
                    [disabled]="!_user"
                    [class.vote--downvote]="_userVote && _userVote.note == -1"
                    class="btn btn-block btn-secondary"
                    type="button"
                    ><fa-icon [icon]="_minusIcon"></fa-icon>
                </button>
            </div>
            <div class="col-4 d-flex">
                <button
                    *ngIf="_user && (_user.isModerator || _user.isAdmin) && !mem.approved"
                    (click)="approve()"
                    type="button"
                    class="btn btn-block btn-outline-info"            
                    >Zaakceptuj
                </button>
            </div>
            <div class="col-4 addon-buttons-container">
                <button 
                    class="btn btn-block btn-outline-primary"
                    type="button"
                    ><fa-icon [icon]="_starIcon"></fa-icon>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="_voter">
            <div class="col-4 vote-results">
                <span>{{ _voter.upVotesCount | async }}</span>
                <span>/</span>
                <span>{{ _voter.downVotesCount | async }}</span>
            </div>
            <div class="col-4">
                <!-- content or spacing beetwen button groups -->
            </div>
            <div class="col-4">
                <!-- content or spacing beetwen button groups -->
            </div>
        </div>        
    </div>
</div>