<form #f>
    <div class="form-group form-inline no-wrap">
        <div class="input-group">
            <div class="input-group-prepend">
                <fa-icon class="input-group-text" [icon]="faUser"></fa-icon>
            </div>
            <textarea
                (keyup.enter)="submitComment(model)"
                #model="ngModel"
                ngModel
                required
                placeholder="Wpisz swój komentarz tutaj"
                class="form-control" 
                name="text" 
                id="text"
                rows="2">
            </textarea>
        </div>
        <button 
            (click)="submitComment(model)"
            type="button"
            class="btn btn-secondary"
            >Dodaj
        </button>
    </div>
</form>

