.wrapper
    position: absolute
    margin: 0
    padding: 0
    width: 150px
    // top: 55px
    // left: calc( 100% - 150px )
    top: 70px
    left: 0
    background-color: #555
    z-index: 110

.hidden
    display: none

li 
    padding: 0

li button
    padding: 12px 20px